

  <input type="text"
         class="form-control"
         ng-model="text"
         ng-click="setShow(true)"
         >
    <div
      class="droparea ng-hide"
      ng-show="show"
      ng-mouseleave="setShow(false)">
      <ul >
        <li
          ng-repeat="item in items | filter:text | filterout:remove |orderBy:'name' | limitTo:20"
          ng-class="{selected:selected.id===item.id}"
          ng-click="selectItem(item)"
          >
          {{item.name}}
        </li>
      </ul>
    </div>

