$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "compass/css3";
// endbower

$headerBackground:#000000;
$headerColor:#FFFFFF;
$headerHeight: 50px;

$footerBackground:#000000;
$footerColor:#FFFFFF;
$footerHeight:30px;

$lightBlue:#E0EAEA;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
html, body {  }

#main{  }

header{
  position:absolute;
  width:100%;
  background: $headerBackground;
  color: $headerColor;
  height: $headerHeight;
  margin: 0;
  padding: 0;
  z-index: 3;

  -webkit-box-shadow: 0 2px 25px 0 rgba(0,0,0,.4);
  -moz-box-shadow: 0 2px 25px 0 rgba(0,0,0,.4);
  box-shadow: 0 2px 25px 0 rgba(0,0,0,.4);

  h1{
    color: inherit;
    padding: 10px 20px;
    margin: 0;
    font-size:$headerHeight - 20px;
  }
}

#content{
  position:absolute;
  top:$headerHeight;
  right:0;
  left:0;
  bottom:$footerHeight;
  z-index:1;

  background: $lightBlue;

}

footer{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height:$footerHeight;
  padding:10px auto 6px auto;
  margin:0;
  z-index:2;

  -webkit-box-shadow: 0 -2px 25px 0 rgba(0,0,0,.4);
  -moz-box-shadow: 0 -2px 25px 0 rgba(0,0,0,.4);
  box-shadow: 0 -2px 25px 0 rgba(0,0,0,.4);

  background:$footerBackground;
  color:$footerColor;
  text-align:center;

  .credits{
    font-size:$footerHeight - 16px;
  }

}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}


a{
  color:#FFFFFF;
}
a:hover{
  color:#FFFFFF;
}
