<form class="form-inline" role="form">
  <div class="input-group input-group-sm">
    <span class="input-group-addon">Current Location</span>

    <span class="input-group-btn">
      <button class="btn btn-default btn-noround"
              type="button"
              ng-click="setOriginType('gps')"
              ng-class="{active:pm.origin.type==='gps'}"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Current Location">

        <span class="glyphicon glyphicon-screenshot" aria-hidden="true" aria-labelledby="Current Location"></span>
      </button>

      <button class="btn btn-default btn-noround"
              type="button"
              ng-click="setOriginType('search')"
              ng-class="{active:pm.origin.type==='search'}"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Search Points of Interest">

        <span class="glyphicon glyphicon-search" aria-hidden="true" aria-labelledby="Search"></span>
      </button>
    </span>

      <searchdropdown text="pm.origin.text"
                      items="pm.origin.results"
                      show="pm.destination.showResults"
                      class="input-group-sm"
                      ng-class="{'ng-hide':pm.origin.type!=='search'}">
        ></searchdropdown>
  </div>

  <div class="input-group input-group-sm">
    <span class="input-group-addon">Destination</span>
    <searchdropdown text="pm.destination.text"
                    items="pm.destination.results"
                    show="pm.destination.showResults"
                    class="input-group-sm"></searchdropdown>
  </div>

</form>
